 
   <!-- Header-->
   <header class="py-5 row"   >
    <div class="col-lg-6 col-md-12 container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="https://i.postimg.cc/kGRSdbpF/Black-Green-Modern-Quote-Shirt-2.png" alt="">
        </div>
       
    </div>
    <div class="col-lg-6 col-md-12" id="head1">
        <img src="https://i.postimg.cc/4y58YxFC/dl-beatsnoop-com-hq-1315841180-QPt3-Mp61-Fj.jpg" alt="">

    </div>
</header>

 <!-- Section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let i of allProductArray " >
                <div class="card h-100">
                    <!-- Product image-->
                    <img style="height: 275px;" class="card-img-top" src={{i.productImage}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{i.productName}}</h5>
                            <!-- Product price-->
                            <h5>RS.{{i.price}}</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="product/view/{{i.id}}">View </a></div>
                    </div>
                </div>
            </div>
           
                    
                    
               
            
        </div>
    </div>
</section>
